# Python / build
__pycache__/
*.pyc
*.pyo

# Venv
.venv/
venv/

# IDE
.vscode/

# Artefakty projektu
outputs/
plots/
logs/
project_tree.txt

# Różne
.DS_Store

# local data
data/
pedri_*.json

# local data
data/
pedri_*.json

# build artifacts
outputs/
plots/
logs/

